@import "tailwindcss";

@theme {
  --font-display: "Inter", sans-serif;
  --font-title: "Manrope", sans-serif;
  --font-style: "Montez", cursive;
  --color-primary: #1fac2d;
  --color-secondary: #80c34a;
  --color-tertiary: #f8f9fa;
  --color-white: #fff;
  --color-black: #000;
  --color-success: #28a745;
  --color-error: #dc3545;
}

@keyframes moveX {
  0%,
  100% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}

.moving-bike {
  animation: moveX 5s infinite ease-in-out;
}
